
@media screen and (max-width: 1201px){
    .footer-text p{
     font-size: 15px;
   
}
.footer-icon i {
   font-size:10px;
   width:1px;
}
}


@media screen and (max-width: 1024px){
 .footer-text p{
     font-size: 15px;
   
}
.footer-icon i {
   font-size:15px;
   width:1px;
}

}


@media screen and (max-width: 400px){
   .footer-text p{
      font-size: 12px;
    
 }
 .footer-icon i {
    font-size:12px;
    width:1px;
 }
 
}